{% extends "base1.html" %}

{% block contentB%}

<div class="caption">
  	<span class="border">JANUARY AVAILABILITY OVERVIEW</span>
	<br>
	<br>
	<br>
	<br>	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
  	<span class="border">scroll down</span>
 </div>
	<br>

	<div class="parallax"></div>
	<div class="parallax"></div>
	<br>
<h1> Electron Microscopes overview January </h1>
	<br>
- Krios 1 in use 
	<br>
- Krios 2 in use 
	<br>
- Krios 3 down on K3
	<br>
- Krios 4 Software restored and HT interlock
	<br>
- Krios 5 mini condenser overheat 
	<br>
- Krios 6 down on IGPco 
	<br>
- Krios 7 software update, HT, Falcon 
	<br>
<h3> Last update has been processed </h3> 

<div class="caption">
	<br>
	<br>
	<br>
	<br>	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
 </div>
	<br>

	<div class="parallax"></div>

	<br>
	<br>
	<hr>
	<img src="../static/images/January/k1bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k1pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k2bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k2pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k3bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k3pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k4bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k4pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k5bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k5pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k6bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k6pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k7bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k7pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>
	<img src="../static/images/January/k8bars.png" alt=".....Uptime data coming soon ....." width="45%">
	<img src="../static/images/January/k8pie.png"  alt=".....Uptime data coming soon ....." width="45%">
	<hr>

{% endblock %}

